.fixed.w-100p.top-0.z-9.h-8.white.bg-blue-7
  .flrw.h-100p.flc
    //- Title
    .hidden.bold.white.text-6.lg_text-5.sm_flex.rnw.pl-1
      a(href=url.base) Maps

    //- Searchbar
    .__searchboxContainer.fla.pl-1.fla.flrnw.flrcv.h-100p.relative
      .__poweredBy.hidden.lg_flex
        .fln Search powered by
        a.fln.ml-01.bold.hover_underline.pointer-events-auto(href=`https://www.algolia.com/?utm_source=instantsearch.js&utm_medium=website&utm_content=${url.base}&utm_campaign=poweredby`) Algolia
      #searchbox.w-100p
