.flex-cols.text-4.gray-7.px-1
  .flex.flex-rows.py-1.border-b-001.border-gray-4
    .mr-1 Sort by:
    #sortBy
  .flex.flex-rows.py-1.border-b-001.border-gray-4
    #curated
  .flex.flex-rows.justify-between.py-1.border-b-001.border-gray-4
    .text-1 Made by 
      a.blue.hover_underline(href="https://twitter.com/pixelastic") pixelastic
    .text-1 
      a.blue.hover_underline(href="https://github.com/pixelastic/maps") Source code

