.js-masonryBrick.relative.bg-gray-1.rounded.shadow-2.border-001.border-gray-4.transform.transition-transform.hover_scale-105p
  .js-masonryContent.pt-1.px-1.pb-01(id="{{id}}")
    a(href="{{picture.full}}" target="_blank")
      img.js-masonryImage.w-100p.bg-gray-5.h-15.lazyload.object-cover(src="{{preview.placeholder}}" data-src="{{preview.full}}" loading="lazy")
    a.__hitLink.ext-2.pt-01.block.transition-colors.hover_blue(href="{{url}}" target="_blank") {{{title}}}
    .block.flrnw.flrar.py-01
      .gray-6.text-1 
        | by 
        a.inline.hover_blue.underline.transition-colors(href="https://www.reddit.com/user/u/{{author.name}}") /u/{{{author.name}}}
