.js-masonryBrick
  .js-masonryContent.bg-gray-1.pt-1.px-1.pb-01.rounded.shadow-2.border-001.border-gray-4(data-id="{{id}}")
    img.js-masonryImage.w-100p.bg-gray-5.lazyload.object-cover(src="{{preview.placeholder}}" data-src="{{preview.full}}" loading="lazy")
    a.__hitLink.ext-2.pt-01.block.transition-colors.hover_blue(href="{{url}}" target="_blank") {{{title}}}
    .block.flrnw.flrar.py-01
      .gray-6.text-1 
        | by 
        a.inline.hover_blue.underline.transition-colors(href="https://www.reddit.com/user/u/{{author.name}}") /u/{{author.name}}}
