.js-masonryBrick
  .js-masonryContent.bg-gray-1.p-1.rounded.shadow-2.border-001.border-gray-4(data-id="{{id}}")
    img.js-masonryImage.w-100p.bg-gray-5.lazyload.object-cover(src="{{preview.placeholder}}" data-src="{{preview.full}}" loading="lazy")
    .text-2 {{{title}}}
    p.gray-8 {{{id}}}
