extends /_includes/_layouts/core

block content
  include /_includes/header
  .mt-8.p-2
    #tags
    #authors
    #hits.js-masonryWall.min-h-100vh

  textarea#hitTemplate(hidden)
    include /_includes/_templates/hit
  textarea#emptyTemplate(hidden)
    include /_includes/_templates/empty
