extends /_includes/layouts/core

block content
  include /_includes/header
  .mt-9.p-2
    #tags
    #authors
    #hits.js-masonryWall.min-h-100vh

  textarea#hitTemplate(hidden)
    include /_includes/templates/hit
  textarea#emptyTemplate(hidden)
    include /_includes/templates/empty
