extends /_includes/_layouts/core

block content
  include /_includes/header
  .mt-8.p-2
    #tags
    .js-masonryContainer
      #hits.js-masonryWall
      #sentinel.js-masonrySentinel

  textarea#hitTemplate(hidden)
    include /_includes/_templates/hit
  textarea#emptyTemplate(hidden)
    include /_includes/_templates/empty
