extends /_includes/_layouts/core

block content
  #hits.pr-1

  textarea#hitTemplate(hidden)
    include /_includes/_templates/hit
  textarea#emptyTemplate(hidden)
    include /_includes/_templates/empty

