extends /_includes/_layouts/core

block content
  include /_includes/header
  .mt-8.p-2
    #tags
    #authors
    #hits.js-masonryWall.min-h-100vh
    a.flrnw.flc.pt-4.white.text-4.hover_underline(href="#top") Back to top ↺

  textarea#hitTemplate(hidden)
    include /_includes/_templates/hit
  textarea#emptyTemplate(hidden)
    include /_includes/_templates/empty
